<%= simple_form_for(@question, html: {class: 'form-vertical' }) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>

  <%= f.input :title, label: 'Question:' %>

  <br>
  <br>


  <%= f.simple_fields_for :points, @question.points.where(user: current_user) do |point| %>

    <%= render 'point_fields', :f => point %>

    <br>
  <% end %>
  <div class="links">
    <%= link_to_add_association 'Add Point', f, :points, :class => "btn btn-success" %>
  </div>

  <br>
  <br>


  <%= f.simple_fields_for :answers, @question.answers.where(user: current_user)  do |answer| %>

    <%= render 'answer_fields', :f => answer %>

    <br>
  <% end %>
  <div class="links">
    <%= link_to_add_association 'Add Answer', f, :answers, :class => "btn btn-success" %>
  </div>

  <br>
  <br>
  <br>

  <div class="actions">
    <%= f.submit 'Save My Response', :class => "btn btn-primary" %>
  </div>
<% end %>
