

<div class="row">
  <div class="col-md-7">

    <div class="page-header">
      <h1>Questions</h1>      
    </div>

    <div class="row">
      <div class="col-md-9">
        <% @questions.each do |question| %>
            <h3><%= link_to question.title, question %></h3>
            <br>
        <% end %>
      </div>
      <div class="col-md-3">
        <br>
        <%= link_to 'New Question', new_question_path, :class => "btn btn-success pull-right" %>
      </div>
    </div>


    </div>
    <div class="col-md-1">
    </div>

    <div class="col-md-4">


      <div class="page-header">
        <h1>Users</h1>
      </div>





  <br>
  <% if signed_in? %>
    <div id="follow-status">
      <% User.all.each do |user| %>



<div class="media">

  <div class="row">

    <div class="col-md-8">

      <div class="media-left media-middle">
        <a href="#">
          <img class="media-object img-circle" src=<%= user.twitter.image %>  style="width:36px;height:36px;border:0" alt="">
        </a>
      </div>


      <div class="media-body">
        <h4 class="media-heading" style="line-height: 36px;"><%= link_to "@" + user.twitter.nickname.downcase, user_path(user) %> </h4>
      </div>

    </div>
    <div class="col-md-4">

            <% if current_user.followed_users.include?(user) %>
          <%= simple_form_for current_user.user_follow_for_followed_user(user), method: :delete do |form| %>
            <div class="form form-actions pull-right">
              <%= submit_tag "Unfollow", class: 'btn btn-danger' %>
            </div>
          <% end %>
        <% else %>
          <%= link_to "Follow", new_user_follow_path(followed_user_id: user.id), :class => "btn btn-primary pull-right" %>
        <% end %>



    </div>

  </div>


</div>








        <br>
      <% end %>
    </div>
  <% end %>





  </div>
</div>




  <br>
  <br>
  <br>
  <br>
