  <div class="row">

	  <div class="col-md-12">
		  <div class="page-header">
		    <h1>@<%= @user.twitter.nickname.downcase %></h1>
		  </div>

			<% if signed_in? %>
				<div id="follow-status">
					<% if current_user.followed_users.include?(@user) %>
						<%= simple_form_for current_user.user_follow_for_followed_user(@user), method: :delete do |form| %>
							<div class="form form-actions">
								<%= submit_tag "Unfollow", class: 'btn btn-danger' %>
							</div>
						<% end %>
					<% else %>
						<%= link_to "Follow", new_user_follow_path(followed_user_id: @user.id), :class => "btn btn-primary ", id: 'add-follow', data: { user_followed_id: @user.id.to_param } %>
					<% end %>
				</div>
			<% end %>


		</div>

	</div>





<% if current_user.id == @user.id %>
<br>
<%= link_to "Edit Account", edit_user_registration_path, :class => "btn btn-warning" %>
<% else %>
<% end %>

<br>
<br>

<% if @questions_answered.count > 0 %>
<div class="row">
  <div class="col-md-7">

    <div class="page-header">
      <h1>Views</h1>      
    </div>

			<% @questions_answered.each do |question| %>
            <h3><%= link_to question.title, question_path(question, user_id:@user.id) %></h3>
            <br>
			<% end %>

		</div>
				</div>
<% end %>

